# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
Library
metadeta

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.meta
*.info
*.bin

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Temp/UnityTempFile-dfdb54455712cea4db7d87d11f08f0b1
Temp/UnityTempFile-9cf76826b62e2d4429b51a0cc3d29a76
Temp/UnityTempFile-b812572fec01cdd4199bf81de5a84642
Temp/UnityTempFile-7cc33347d9cc0214c82c2d41201485a5
Temp/UnityTempFile-207b5b4df1f8098489e0f92be1f921c6
Temp/UnityTempFile-62732ad412e8f614990dba5c00dce144
Temp/UnityTempFile-3195d98a16f73ab4190a1c7cee64cb6d
Temp/UnityTempFile-77903794e29a3be4a8c302d7d6d430e8
Temp/UnityTempFile-59f8b4d15e415a147a9e51a5c71a2193
